.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
    /*text-align: center;*/
}

.portfolio__item__list {
    list-style: none;
    color: var(--color-light);
    font-weight: 300;
}

.portfolio__item__list__element {
    text-align: left;
    margin-left: 1rem;
    display: flex;
    padding: 0.2rem;
    margin: 0.1rem;

    /*overflow: hidden; 
    transition: all .5s ease-in-out;*/
}

.portfolio__item__list__bullet {
    margin-right: 1rem;
}

.portfolio__item__list__sentence {
    padding-top: 0.1rem;
}

.portfolio__item-cta {
    /*display: flex;*/
    /*gap: 1rem;*/
    margin-bottom: 1rem;
}

.portfolio__item-cta a, portfolio__item-cta button {
    text-align: center;
    margin: 1rem;
}



/* DISPLAY TAGS*/

.show {
    opacity: 1;
    transition: var(--transition);
    visibility: visible;
}

.hide {
    opacity: 0;
    transition: var(--quick-transition);
    visibility: hidden;
    height: 0; /* hide dimensions too */
}

.hideCarrot {
    width: 0; /* hide dimensions too */
}

/* MEDIA QUERIES (MEDIUM DEVICES)  */

/* For tablets */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* For phones */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}